body {
	font-family: Arial, sans-serif;
	background-color: #f1f1f1;
}
h1 {
	padding: 20px;
	border-radius: 5px;
	width: 300px;
	margin: 0 auto;
	text-align: center;
}

form {
	background-color: #fff;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	width: 300px;
	margin: 0 auto;
}

label {
	display: block;
	font-weight: bold;
	margin-bottom: 5px;
}

input[type="text"], input[type="password"] {
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
}

input[type="submit"] {
	background-color: #06e755;
	color: #fff;
	padding: 10px;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	width: 100%;
	font-size: 16px;
}

input[type="submit"]:hover {
	background-color: #e305be;
}

.clock {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 70px;
	font-weight: bold;
	color: #fff;
	background-color: #282c34;
	height: 200px;
	width: 400px;
	border-radius: 15px;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
	position: relative;
  }
  
  .clock div {
	margin: 0 20px;
  }
  
  .hours:before,
  .minutes:before,
  .seconds:before {
	content: ":";
	color: #fff;
  }

  
  
  
